<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Sida 1</title>
</head>
<body>
  <h1>Detta är startsidan!</h1>
  <p>Text från databasen: <%= text1 %></p>
  <a href="/2">Gå till sida 2</a>
  <br>
  <a href="/admin/edit/text1">Redigera denna text (admin)</a>
</body>
</html>
