<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Sida 2</title>
</head>
<body>
  <h1>Detta är sida 2!</h1>
  <p>Text från databasen: <%= text2 %></p>
  <a href="/3">Gå till sida 3</a>
  <br>
  <a href="/admin/edit/text2">Redigera denna text (admin)</a>
</body>
</html>
