<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Sida 3</title>
</head>
<body>
  <h1>Detta är sida 3!</h1>
  <p>Text från databasen: <%= text3 %></p>
  <a href="/">Till startsidan</a>
  <br>
  <a href="/admin/edit/text3">Redigera denna text (admin)</a>
</body>
</html>
