<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Startsida</title>
</head>
<body>
  <h1>Detta är startsidan</h1>
  <p><%= content %></p>
  <a href="/admin/login">Admin Login</a>
</body>
</html>
